<div class="card card-body p-5 mt-4">
  <h1> Ofertas activas en España </h1>

<p>Ofertas del resto de España (menos Andalucía) ordenadas por fecha de publicación, las novedades primero:</p>
  <ol>
    <table class="table  table-responsive table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">nº</th>
          <th scope="col">Puesto</th>
          <th scope="col"> Fecha </th>
          <th scope="col">Empresa</th>
          <th scope="col">Lugar</th>
          <th scope="col">Enlace</th>
          <th scope="col">Límite</th>
          <th scope="col">Categoría</th>
          {{!-- <th scope="col"> PR </th> --}}
        </tr>
      </thead>
      <tbody>
        {{#each oferta}}
        <tr>
          <th scope="row">
            <li></li>
          </th>
          <td><a href=" {{this.url}} " target="_blank"> {{this.title}} </a></td>
          <td style="width: 8%;">{{this.fechaPublicacion}}</td>
          <td>{{this.company}}</td>
          <td>{{this.city}}</td>
          <td><a href=" {{this.url}} " target="_blank"> Ver </a></td>
          <td style="width: 8%;">{{this.deadline_}}</td>
          <td>{{this.category}}</td>
          {{!-- <td>{{this.PR}}</td> --}}
          {{/each}}
        </tr>
      </tbody>
    </table>
  </ol>
  <div>
    <h3>¿Aún buscando?</h3>
    Consulta las ofertas del resto del Mundo. <br>
    <a class="btn btn-secondary btn-lg" href="/ofertas/mundo" role="button">Resto Mundo</a>
        <a class="btn btn-success btn-lg" href="/ofertas/buscar" role="button">Filtrar Ofertas</a>

  </div>
</div>